<a href="https://colab.research.google.com/github/UNCICarlos272/Curso_Python/blob/main/1_Elementos_basicos_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Hola mundo
print("Hola Mundo")

Hola Mundo

In [ ]:
print("Buenas tardes")

Buenas tardes

# Tipos de datos

## Cadenas de texto o str (string)
* Entre comillas

In [ ]:
"2"

'2'

In [ ]:
# Este es un comentario
variable1 = "Hola"#"Hola"
variable1[3]
len(variable1)

4

In [ ]:
nombre = "Carlos"
print(nombre)

# * Se puede obtener la posicion de caracter en especifico
# variable[posicion de caracter] -- notar que el conteo inicia desde el numero 0

print("Posicion 0 -", nombre[0])
print("Posicion 1 -", nombre[1])
print("Posicion 5 -", nombre[5])

# Tama침o del caracter
print("tama침o de la variable", len(nombre))

Carlos
Posicion 0 - C
Posicion 1 - a
Posicion 5 - s
tama침o de la variable 6

| Variable |   C   |   a   |   r   |   l   |   o   |   s   |
|----------|-------|-------|-------|-------|-------|-------|
| Posicion |   0   |   1   |   2   |   3   |   4   |   5   |
| Posicion inversa |  -6 |  -5  |  -4  |  -3  |  -2  |  -1  |
| Tama침o   |   1   |   2   |   3   |   4   |   5   |   6   |

In [ ]:
#Suponemos que el nombre cambia y queremos obtener el ultimo caracter de la cadena
print("Tama침o de la cadena = " ,len(nombre))
print("Tama침o de la cadena -1 =" ,len(nombre)-1)
print("Ultimo caracter", nombre[len(nombre)-1])

Tama침o de la cadena =  6
Tama침o de la cadena -1 = 5
Ultimo caracter s

In [ ]:
# Posicion Inversa
print("Ultimo caracter = ",nombre[-1])
print("Primer caracter = ", nombre[0])
print("Primer caracter = ", nombre[len(nombre) * -1])

Ultimo caracter =  s
Primer caracter =  C
Primer caracter =  C

In [ ]:
# Rangos
print("Todo el nombre =",nombre[0:6])
print("Los primeros 3 cracteres",nombre[0:3])

Todo el nombre = Carlos
Los primeros 3 cracteres Car

In [ ]:
nombre = "carlos" # "carlos" # "Carlos"
# Nos regresa si el texto esta en mayusculas o minusculas de tipo booleano
print("Son minusculas? = ",nombre.islower())
print("Son mayusculas? = ", nombre.isupper())

Son minusculas? =  True
Son mayusculas? =  False

In [ ]:
# pasar a mayusculas o minusculas la cadena de texto
print("Minuscula", nombre.lower())
print("Mayuscula", nombre.upper())

variable_1 = "Carlos Eduardo Pe침a Navarrete"
variable_2 = "carlos eduardo Pe침a Navarrete"
variable_1.lower() == variable_2.lower()

Minuscula carlos
Mayuscula CARLOS

True

In [ ]:
#Ejemplo para pasar a mayucula una variable
nombre = "Carlos"
nombre = nombre.upper()
print(nombre)

CARLOS

## Enteros o Integer (int)
* Son positivos o negativos (no decimales)

In [ ]:
nombre

'CARLOS'

In [ ]:
numero = 10
print("tipo str =", type(nombre))
print("tipo int", type(numero))
print(numero)

tipo str = <class 'str'>
tipo int <class 'int'>
10

In [ ]:
numero = 1000.9999
numero

1000.9999

In [ ]:
# pasar a entero
# notar que int solo toma la parte entera no hace ningun redondeo
#numero = "1000"
numero = 1000.9999
numero = int(numero)

print("tipo int", type(numero),numero)

tipo int <class 'int'> 1000

## Flotantes o Float
* Numeros reales

In [ ]:
numero = 4.9823
numero = round(numero,2)
print("tipo int", type(numero), numero)

tipo int <class 'float'> 4.98

## Booleanos o Boolean
* verdadero o falso

In [ ]:
# Para definir la variable se escribe de la siguiente forma * True o * False
#verdadero = true
verdadero = True
falso = False
print("tipo int", type(verdadero), verdadero)
print("tipo int", type(falso), falso)

tipo int <class 'bool'> True
tipo int <class 'bool'> False

In [ ]:
# Errores
#* NameError -no se le ha dado un valor a una variable

# Operadores Aritmeticos

* Suma             +
* Resta            -
* Multiplicacion   *
* Division         /
* Division Entera  //
* Modulo           %

In [ ]:
num1 = 10
num2 = 5
cat1 = "10"
cat2 = "5"

In [ ]:
#Suma numeros
suma = num1 + num2
print("Suma = ", suma)

#Suma cadenas de texto
suma_cat = cat1 + cat2
print("Suma_cat = ", suma_cat) # concatena las cadenas de texto - se suele usar con bucles

Suma =  15
Suma_cat =  105

In [ ]:
# Resta numeros
resta = num1 - num2
print("Resta = ", resta)

Resta =  5

In [ ]:
#Multiplicacion numeros
mult = num1 * num2
print("Multiplicacion = ", mult)

#Multiplicacion cadenas de texto (solo se puede cadena * numero)
mult_cat = cat1 * 5
print("Multiplicacion_cat = ", mult_cat)

Multiplicacion =  50
Multiplicacion_cat =  1010101010

In [ ]:
# Exponente numeros
exp = num1 ** 2
print("Exponente^2 = ", exp)

Exponente^2 =  100

In [ ]:
# Division numeros
# Notar que siempre nos regresa un numero flotante
num1 = 11
num2 = 5
div = num1 / num2
print("division = ", div)

division =  2.2

In [ ]:
# Division Entera numeros
# Nos da la division - Entera (2.6 = 2)
div_ent = num1 // num2
print("division_ent = ", div_ent)

division_ent =  2

In [ ]:
# Modulo
# Es el residuo de una division entera
# Ejemplo  10/5 = 2 - el residuo es 0
#          10/3 = 3 - el residuo es 1

div_ent = 11 // 5
print("division_ent = ", div_ent)

modulo = 11 % 5
print("modulo = ", modulo)

division_ent =  2
modulo =  1

In [ ]:
## Apliaciones del Modulo

# Determinar si un numero es Par (numero % 2)

numero = 11
resultado = numero % 2

if resultado == 0:
    print(f"El numero {numero} es Par")
else:
    print(f"El numero {numero} no es Par")

El numero 11 no es Par

In [ ]:
# Bono
nombre = "Alice"
edad = 25
print("Hola, soy %s y tengo %d a침os" % (nombre, edad))
print(f"Hola, soy {nombre} y tengo {edad} a침os")

Hola, soy Alice y tengo 25 a침os
Hola, soy Alice y tengo 25 a침os

# Operadores de Asignacion
* Recordar que los operadores de asignacion "asiganan una variable" y los de comparacion nos regresan un valor
* =
* +=
* -=
* *=
* **=
* /=
* //=
* %=

In [ ]:
# =
# Es un simbolo de asignacion no de comparacion
# asignar una variable y despues mandarla a llamar
variable = 10
variable

10

In [ ]:
# +=
num1 = 10
num1 += 10 # es lo mismo que escribir num1 = num1 + 10
print(num1)

20

In [ ]:
print("opcion 1 ")
num1 = 10
for i in range(5):
    num1 = num1 + 10
    print(num1)
print("opcion 2")
num1 = 10
for i in range(5):
    num1 += 10
    print(num1)

print("opcion con cadena")
cadena = "hola"
for i in range(5):
    cadena += 'a'
    print(cadena)

opcion 1
20
30
40
50
60
opcion 2
20
30
40
50
60
opcion con cadena
holaa
holaaa
holaaaa
holaaaaa
holaaaaaa

In [ ]:
#-=
print("opcion 1 ")
num1 = 10
for i in range(5):
    num1 = num1 - 10
    print(num1)
print("opcion 2")
num1 = 10
for i in range(5):
    num1 -= 10
    print(num1)

opcion 1
0
-10
-20
-30
-40
opcion 2
0
-10
-20
-30
-40

In [ ]:
#*=
print("opcion 1 ")
num1 = 10
for i in range(5):
    num1 = num1 * 10
    print(num1)
print("opcion 2")
num1 = 10
for i in range(5):
    num1 *= 10
    print(num1)

opcion 1
100
1000
10000
100000
1000000
opcion 2
100
1000
10000
100000
1000000

In [ ]:
#/= (division con decimal)
print("opcion 1 ")
num1 = 10
for i in range(5):
    num1 = num1 / 2
    print(num1)
print("opcion 2")
num1 = 10
for i in range(5):
    num1 /= 2
    print(num1)

opcion 1
5.0
2.5
1.25
0.625
0.3125
opcion 2
5.0
2.5
1.25
0.625
0.3125

In [ ]:
# //= (division entera)
print("opcion 1 ")
num1 = 10
for i in range(5):
    num1 = num1 // 2
    print(num1)
print("opcion 2")
num1 = 10
for i in range(5):
    num1 //= 2
    print(num1)

opcion 1
5
2
1
0
0
opcion 2
5
2
1
0
0

In [ ]:
# **= (division entera)
print("opcion 1 ")
num1 = 10
for i in range(5):
    num1 = num1 ** 2
    print(num1)
print("opcion 2")
num1 = 10
for i in range(5):
    num1 **= 2
    print(num1)

opcion 1
100
10000
100000000
10000000000000000
100000000000000000000000000000000
opcion 2
100
10000
100000000
10000000000000000
100000000000000000000000000000000

# Operadores relacionales o de comparacion
* Nos regresan un valor booleano (True o False)
* Se suelen ocupar con los condicionales (if)
* '=='
* '!='
* '<'
* '<='
* '>'
* '>='

* == - 쮼s Igual x a y?

In [ ]:
# Notar que ocupamos el operador de asigancion "=" y despues el operador condicional "=="
expresion = 10 == 100
print(expresion)

expresion_2 = "Hola" == "Hola"
print(expresion_2)

False
True

In [ ]:
expresion_2 = "Hola".lower() == "hola"
print(expresion_2)

expresion_2 = "hola".upper() == "HOLA"
print(expresion_2)

True
True

In [ ]:
* != - 쮼s diferente x a y?

Object `y` not found.

In [ ]:
# Notar que ocupamos el operador de asigancion "=" y despues el operador condicional "=="
expresion = 10 != 100
print(expresion)

expresion_2 = "Hola" != "Hola"
print(expresion_2)

True
False

In [ ]:
# Ejemplo de funcionamiento

In [ ]:
# Se suelen ocupar con los condicionales
gato = "burro"
emoji = "游낻"
emoji2 = "游뱂"

if "gato" == gato:
    print(f"Si es igual un gato a un gato {emoji}")
else:
    print(f"No creo que sean iguales {emoji2}")

No creo que sean iguales 游뱂

In [ ]:
# <=
expresion = 10 <= 10
print(expresion)

#<

expresion = 10 < 10
print(expresion)

True
False

In [ ]:
# >=
expresion = 10 >= 10
print(expresion)
# >
expresion = 10 > 10
print(expresion)

True
False

# Operadores Logicos
son acompa침ados con los operadores de comparacion (==,>=,<=,<,>)

* and - es como una multiplicacion
* or  - es como una suma
* not

* nota: recordar que en jeraquia de operaciones primero va la multiplicacion y despues la suma

In [ ]:

# Encabezados de la tabla
##print("| A     | B     | A and B | A or B | not A |")
##print("|-------|-------|---------|--------|-------|")

# Valores de la tabla
##for A in [True, False]:
 ##   for B in [True, False]:
   ##     print(f"| {A} | {B} | {A and B} | {A or B} | {not A} |")

| A     | B     | A and B | A or B | not A |
|-------|-------|---------|--------|-------|
| True | True | True | True | False |
| True | False | False | True | False |
| False | True | False | True | True |
| False | False | False | False | True |

In [ ]:
# and - es verdadero siempre y cuando todas las condiciones definidas sean verdaderas (y)}
# or - es verdadero siempre y cuando alguna de las condiciones sea verdadera (o)
# not - cambia un True por un False y un False por un True

In [ ]:
# Primero and (*) y despues or (+) - de izquierda a derecha
print("False and True or False or True and True")
print("Primero solucionamos los 'and'")
print("True or False or True")
print("Solucionamos los 'or'")
print("True or True")
print("True")
fvfvv = False and True or False or True and True
fvfvv

False and True or False or True and True
Primero solucionamos los 'and'
True or False or True
Solucionamos los 'or'
True or True
True

True

** Ejercicio 1

Para obtener un aumento en una empresa x (que empieza con "sha" y termina con "sa") tendra que cumplir con las
siguientes condiciones

* Ir a oficina al menos 3 dias
* Tomar un maximo de una hora (60 min) de comida
* Dominar todos sus procesos del area
* Visitar al menos 3 tiendas o conocer los procesos de al menos 2 areas diferenes

Escriba el codigo para ver si el "jefazo" obtendra su aumento si cumple con las siguietes carateriricas

* va a trabajar a oficina L,M y V
* toma para comer 45 min
* Domina los procesos de sus area
* ha visitado 2 tiendas y conoce los procesos de un area diferente

In [ ]:
# Info de "jefazo"
dias_t = 3
comida_min = 45
procesos = True
tiendas_vi = 2
procesos_areas = 1

# Codigo

exp_1 = dias_t >= 3        # dias en la oficina son al menos 3
exp_2 = comida_min < 60    # un maximo de 60 min para comer
exp_3 = procesos           # Dominar los procesos del area
exp_4 = (tiendas_vi >= 3 ) or (procesos_areas >= 2)

aumento = exp_1 and exp_2 and exp_3 and exp_4

print(f"El jefazo obtendra su aumento? {aumento}")

El jefazo obtendra su aumento? False